.tagList {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px 10px;
}

.tag {
  height: 26;
}


@media (max-width: 768px) {
  .tag {
    height: 24;
  }
}
